body{
    width:100%;
    font-size:normal;
    background:url("../images/reg-bg.png") no-repeat;
     background-attachment: fixed; 
    background-size: 100% 100%; 
}
.regsiter{
    max-width:37.5em;
    margin:0 auto;
}
.top{
    height: 30px;
    line-height: 30px; 
    margin:8px 0;
}
.top a,.top{
    color:#fff;
}
.top a:hover{
    text-decoration: underline;
}
.top .login{
    float: right;
}
.formwrap{
    background:#fff;
    border-radius: 5px;
}
.logowrap{
    text-align: center;
}
.formwrap .logo{
    display: inline-block;
    width:22.66667%; 
    height: 46px;
    margin:20px auto;
    background:url('../images/logo.png') no-repeat;
    background-size:100%;
}
form{
    position: relative;
    width:90%;
    margin: 0 auto;
}
form .text{
    width:100%;
    height:50px;
    margin:10px 0;
    border:1px solid #ccc;
}
form .text:focus{
    border:1px solid #888;
}
form .phone-input{
    position: relative;
}
form .getnumber{
    position: absolute;
    width:100px;
    height: 30px;
    right: 10px;
    top:22px;
    line-height: 30px;
    text-align: center;
    background:#eee;
    color:#888;
    overflow: hidden;
}
.info{
    display: none; 
    color:#ff112c;
    height: 22px;
    line-height: 22px;
    padding-left:23px;
    background:url("../images/icon/warning.png") no-repeat;
}
.gray{
    color:#aaa;
    display: inline-block;
    text-align: center;
}
.gray a{
    color:#888;
}
.submit-btn{
    display: inline-block;
    width:100%;
    height: 50px;
    margin:20px 0;
    text-align: center;
    line-height: 50px;
    background:#ff552c;
    color:#fff;
    cursor:pointer;
    border:none;
    transition:background 0.3s linear;
}
.submit-btn:hover{
    background:#ff112c;
}
.bottom{
    margin:40px 0;
    text-align: center;
}
.bottom,.bottom a{
    color:#fff;
    
}
.bottom a:hover{
    text-decoration: underline;
}
.bottom span{
    margin-right: 40px;
}
.bottom a{
    padding:0 20px;
}